<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <title>Are Australian's still in love with red meat?</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    
    <!-- CSS -->
    <link rel="stylesheet" href= "../static/css/styles.css">
</head>

<body class="out-of-love">
    <div class="px-3 py-2 bg-dark text-white">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-medium">
              <li>
                <a href="/" class="nav-link">
                  Home
                </a>
                <li class="nav-item dropdown text-white">
                  <a href="#" class="nav-link"
                    id="navbarDropdownMenuLink"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                    Meat
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="inlove.html">In Love</a>
                    <a class="dropdown-item" href="out-of-love.html">Out of Love</a>
                  </li>
                  <a href="the-future.html" class="nav-link">
                    The Future
                  </a>
                  </div>
                </li>    
             </ul>
          </div>
        </div>
      </div>

        <div class="hero text-center">
        <h3>Correct!</h3>
        </div>


    <div class="container-1">
      <section class="row">
        <div class="col-lg-8 mx-auto text-center">
          <article class="description-content">
            <p>Australians started to lose their love of red meat going back as far as the 1970’s.  
              During this time the consumption of beef consumed dropped an astounding 19kg(cw) over a period of three years (1976-1979).  
              This has been the greatest decrease over such a short period of time, with Beef continuing to decline post this time.</p>
            <p>In 2017 chicken was considered to have the highest consumption per capita of 47kg(cw).  
              This can be attributed to a number of factors; however it is generally cheaper than red meat and is a leaner meat.</p> 
            <p>Below is a time in motion visualisation, showing the change in meat consumption from 1974 - 2017.</p> 
          </article>
      </section>
    </div>            

    <div class="container">
      <section class="row">
          <div class="description-content graph-section">
            <div class="flourish-embed flourish-bar-chart-race" data-src="visualisation/6329571"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
          </div>
    </div> 

    <div class="container-1">
      <section class="row">
        <div class="col-lg-8 mx-auto text-center">
          <article class="description-content">
            <p>Whilst our preferred meat has changed over the years, the total amount of meat consumed per capita, per year has remained relatively consistent.  
              So much so that in the below graph the total meat consumption is predicted to remain stable into the future.  
              However, the same however cannot be said for the total consumption of red meat, which is expected to continue on its downward spiral.</p>
            <h5>So, the question now is why have Australians lost their love for red meat and what might the future hold?</h5>
          </article>
      </section>
    </div> 

    <div class="graph"></div>
    <div class='tableauPlaceholder' 
    id='viz1622808007565' 
    style='position: relative'>
    
    <noscript><a href='#'>
    <img alt='Total Meat v&#39;s Red Meat Consumption ' 
    src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Me&#47;MeatvRedMeat&#47;Sheet1&#47;1_rss.png' 
    style='border: none' /></a>
  </noscript>
  <object class='tableauViz'  
    style='display:none;'>
    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
    <param name='embed_code_version' value='3' /> 
    <param name='site_root' value='' />
    <param name='name' value='MeatvRedMeat&#47;Sheet1' />
    <param name='tabs' value='no' />
    <param name='toolbar' value='yes' />
    <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Me&#47;MeatvRedMeat&#47;Sheet1&#47;1.png' /> 
    <param name='animate_transition' value='yes' />
    <param name='display_static_image' value='yes' />
    <param name='display_spinner' value='yes' />
    <param name='display_overlay' value='yes' />
    <param name='display_count' value='yes' />
    <param name='language' value='en-US' />
  </object>
</div>                
  <script type='text/javascript'>                    
  var divElement = document.getElementById('viz1622808007565');                   
  var vizElement = divElement.getElementsByTagName('object')[0];                    
  vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    
  var scriptElement = document.createElement('script');                    
  scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
  vizElement.parentNode.insertBefore(scriptElement, vizElement);                
  </script>

    </div>
        <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- jQuery CDN -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>

</html>